/* for whole box of UI */

.Whole-Rectangle {
  width: 1233px;
  height: 1800px;
  margin: 45px 65px 0 60px;
  padding: 30px 30px 30px 23px;
  border-radius: 12px;
  box-shadow: 0 8px 12px 0 rgba(17, 17, 17, 0.2);
  background-color: #fff;
}

/* for left box of UI: */

.Left-Rectangle {
  width: 560px;
  height: 850px;
  margin: 0 30px 0 0;
  text-align: center;
  padding: 301px 106px 300px 107px;
  background-color: #f6f7fb;
}

/* for image receipt */

.Img-receipt {
  width: 83px;
  height: 100px;
  margin: 12px;
  object-fit: contain;
}

/* for text of attach a receipt */

.Attach-a-receipt {
  width: 162px;
  height: 28px;
  margin: 35px 85px 6px 90px;
  font-family: Poppins;
  font-size: 20px;
  font-weight:500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
}

/* for lick to upload */

.Click-to-upload {
  width: 400px;
  height: 25px;
  margin: 6px 0 0 -25px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #7d7e82;
}

/* Right side of box */

/* for new expense text */

.New-Expense {
  width: 120px;
  height: 30px;
  margin: 12px 25px 6px 2px;
  font-family: Poppins;
  font-size: 20px;
  font-weight:500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1a1a;
}

/* for cut mark which is align with new expense text */

.Shape {
  width: 24px;
  height: 24px;
  margin: 12px 0 6px 380px;
  object-fit: contain;
}

/* for label of Assign-To */

.Assign-To {
  width: 70px;
  height: 20px;
  margin: 24px 0 6px 2px;
  font-family: Poppins;
  font-size:14px;;
  font-weight:500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1a1a;
}

/* for input of Assign-To */

.Assign-To-Rectangle {
  width: 560px;
  height: 56px;
  margin: 6px 2px 0 2px;
  padding: 7px 410px 8px 12px;
  border-radius: 12px;
  border: solid 1px #7d849e;
  background-color: #fff;
}

.AutoComplete-Chips-Rectangle {
  width: 149px;
  height: 40px;
  margin: -48px 10px 6px 12px;
  padding: 8px 12px 10px 12px;
  border-radius: 8px;
  background-color: #f2ecfb;
}

.Medical-App {
  width: 89px;
  height: 20px;
  position: inherit;
  margin: 0px 0px 12px 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6d5ed3;
}

img.close-circle-fill-2 {
  width: 20px;
  height: 20px;
  margin: 0 0 0 16px;
  object-fit: contain;
}


/* Image of radio buttun for Tax-deducitble */

img.radioactive {
  width: 24px;
  height: 24px;
  margin: 6px 12px 6px 2px;
  object-fit: contain;
}

/* for label of radio button for tax deducitble */

.Tax-deducitble {
  width: 110px;
  height: 20px;
  margin: 12px 0 6px 0;
  font-family: Poppins;
  font-size:14px;;
  font-weight:500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6d5ed3;
}

/* image of radio button for billable to client */

img.radio-button-line-2 {
  width: 24px;
  height: 24px;
  margin: 6px 12px 6px 80px;
  object-fit: contain;
}

/* image for radio button for billable to client */
.Billable-to-client {
  width: 110px;
  height: 20px;
  margin: 12px 0 6px 0;
  font-family: Poppins;
  font-size:14px;;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1a1a;
}


/* for lable of total */

.Total {
  width: 30px;
  height: 20px;
  margin: 18px 0 0 2px;
  font-family: Poppins;
  font-size:14px;;
  font-weight:500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1a1a;
}

/* for input of total */

.Total-Rectangle {
  width: 260px;
  height: 56px;
  margin: 12px 0 6px 2px;
  padding: 8px 8px 8px 14px;
  border-radius: 12px;
  border: solid 1px #7d849e;
  background-color: #fff;
}

/* for drop down of currency */

.INR-Rectangle {
  width: 83px;
  height: 40px;
  margin: -55px 0px 0 170px;
  padding: 8px 8px 8px 12px;
  /* display: inline; */
  /* opacity: 0.1; */
  border-radius: 8px;
  background-color: #f2ecfb;
}

.INR {
  width: 23px;
  height: 20px;
  margin: 2px 6px 2px 2px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6d5ed3;
}

.img.arrow-down-s-line-copy {
  width: 24px;
  height: 24px;
  margin: 0 0 0 16px;
  object-fit: contain;
}

/* for input of date  */

.Date-Rectangle {
  width: 260px;
  height: 56px;
  margin: 12px 0 12px 4px;
  padding: 8px 8px 8px 14px;
  border-radius: 12px;
  border: solid 1px #7d849e;
  background-color: #fff;
}

/* for label of marchant */

.Merchant {
  width: 68px;
  height: 20px;
  margin: 12px 2px 6px 2px;
  font-family: Poppins;
  font-size: 14px;
  font-weight:500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1a1a;
}

/* for input of marchant */

.Merchant-Rectangle {
  width: 560px;
  height: 56px;
  margin: 6px 0 0 2px;
  padding: 18px 20px 18px 20px;
  border-radius: 12px;
  border: solid 1px #7d849e;
  background-color: #fff;
}


/* for label of purpose */

.Purpose {
  width: 60px;
  height: 20px;
  margin: 0px 0px 6px 2px;
  font-family: Poppins;
  font-size:14px;;
  font-weight:500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1a1a;
}

/* for input of purpose */

.Purpose-Rectangle {
  width: 560px;
  height: 56px;
  margin: 6px 0 6px 2px;
  padding: 18px 20px 18px 20px;
  border-radius: 12px;
  border: solid 1px #7d849e;
  background-color: #fff;
}

/* for label of tax-category */

.Tax-Category {
  width: 95px;
  height: 20px;
  margin: 12px 0 12px 2px;
  font-family: Poppins;
  font-size:14px;;
  font-weight:500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1a1a;
}

/* question mark at end of the Tax-Category */

img.question-line-1 {
  width: 20px;
  height: 20px;
  margin: 4px 0px 6px 8px;
  object-fit: contain;
}

/* for input of tax-category */

.Tax-Category-Rectangle {
  width: 560px;
  height: 56px;
  margin: 12px 0 36px 2px;
  padding: 2px 20px 2px 20px;
  border-radius: 12px;
  border: solid 1px #7d849e;
  background-color: #fff;
}

/* for % of incude taxes */

.Include-taxes-Rectangle {
  width: 157px;
  height: 40px;
  margin: 12px 8px 200px 2px;
  padding: 10px 16px;
  border-radius: 20px;
  background-color: #f6f7fb;
}

img.percent-line {
  width: 20px;
  height: 20px;
  margin: 0 6px 0 0;
  object-fit: contain;
}

.Include-Taxes {
  width: 95px;
  height: 20px;
  margin: 0 0 0 3px;
  font-family: Poppins;
  font-size:14px;;
  font-weight:500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7d7e82;
}

 /* for make repeat  */

 .Repeat-Rectangle {
  width: 175px;
  height: 40px;
  margin: 12px 4px 12px 4px;
  padding: 10px 16px;
  border-radius: 20px;
  background-color: #f6f7fb;
}

img.repeat-line {
  width: 20px;
  height: 20px;
  margin: 0 6px 0 0;
  object-fit: contain;
}

.Make-Repeating {
  width: 115px;
  height: 20px;
  margin: 0 0 0 3px;
  font-family: Poppins;
  font-size:14px;;
  font-weight:500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7d7e82;
}

/* for add Note */

.Add-Note-Rectangle {
  width: 126px;
  height: 40px;
  margin: 12px 8px 12px 8px;
  padding: 10px 16px;
  border-radius: 20px;
  background-color: #f6f7fb;
}

img.edit-box-line-1 {
  width: 20px;
  height: 20px;
  margin: 0 6px 0 0;
  object-fit: contain;
}

.Add-Note {
  width: 66px;
  height: 20px;
  margin: 0 0 0 3px;
  font-family: Poppins;
  font-size:14px;;
  font-weight:500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7d7e82;
}

/* for canceal button */

.Cancel-Rectangle {
  width: 260px;
  height: 56px;
  margin: 300px 6px 0 2px;
  padding: 18px 112px;
  border-radius: 12px;
  border: solid 1px #6d5ed3;
  background-color: #fff;
}

.Cancel {
  width: 45px;
  height: 20px;
  font-family: Poppins;
  font-size:14px;;
  font-weight:500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #6d5ed3;
}

/* for Create button */

.Create-Rectangle {
  width: 260px;
  height: 56px;
  margin: 0px 2px 0 12px;
  padding: 18px 112px;
  border-radius: 12px;
  background-color: #6d5ed3;
}


.Create {
  width: 45px;
  height: 20px;
  font-family: Poppins;
  font-size:14px;;
  font-weight:500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}



