.TransactionDetails3dot-bg {
  width: 1116px;
  height: 775px;
  padding: 0 0 24px;
  border-radius: 31px;
  background-color: #fbfbfc;
}

.TransactionDetails3dot-Rectangle {
  width: 164px;
  height: 140px;
  margin: 30px 11px -169px 496px;
  padding: 20px 20px 14px 18px;
  border-radius: 12px;
  box-shadow: 0 2px 10px 0 rgba(238, 241, 245, 0.89);
  background-color: #fff;
}

.TransactionDetails3dot-Download {
  width: 72px;
  height: 20px;
  margin: 0 12px 20px 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1a1a;
}

.TransactionDetails3dot-Rename-file {
  width: 90px;
  height: 20px;
  margin: 20px 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1a1a;
}

.TransactionDetails3dot-Delete {
  width: 45px;
  height: 20px;
  margin: 20px 39px 0 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1a1a;
}