.TransactionNotes-bg {
  width: 1116px;
  height: 768px;
  padding: 0 0 34px;
  border-radius: 31px;
  background-color: #fbfbfc;
}

.TransactionNotes-Notes-Rectangle {
  width: 106px;
  height: 48px;
  margin: 0 0 0 4px;
  padding: 13px 32px 14px 37px;
  border-radius: 12px;
  background-color: #6d5ed3;
}

.TransactionNotes-Notes {
  width: 41px;
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.TransactionNotes-Payments {
  width: 70px;
  height: 20px;
  margin: 14px 21px 14px 22px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7d8e82;
}

.TransactionNotes-notes {
  width: 58px;
  height: 28px;
  margin: 30px 1028px 30px 30px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1a1a;
}

.TransactionNotes-TextArea-Rectangle {
  width: 1056px;
  height: 494px;
  margin: 30px 30px 0;
  padding: 24px 24px 115px;
  border-radius: 12px;
  box-shadow: 0 8px 12px 0 rgba(238, 241, 245, 0.89);
  background-color: #fff;
}

.TransactionNotes-TextArea {
  width: 1008px;
  height: 355px;
  padding: 18px 25px 318px 20px;
  border-radius: 12px;
  border: solid 3px #e0e1e7;
  box-shadow: 0 8px 12px 0 rgba(238, 241, 245, 0.89);
  background-color: #fff;
}

.TransactionNotes-Add-a-note {
  width: 200px;
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7d8e82;
}